.ropeproject/
.tern-port
.tern-project
.vimrc

*.swp
.DS_Store

.bash_private

*.orig

# this prevents these files from showing up in git grep --exclude-standard.
# You need to use git add -f to add them.
# *.min.js
# jquery*.js

# requires git 1.8.2
# **/js/lib/

vagrant20*
