[submodule "bash/pandoc-completion"]
	path = bash/pandoc-completion
	url = git@github.com:dsanson/pandoc-completion.git
[submodule "pandoc/pandoc-templates"]
	path = pandoc/pandoc-templates
	url = git@github.com:mwhite/pandoc-templates.git
[submodule "bash/git-prompt"]
	path = bash/git-prompt
	url = git://github.com/lvv/git-prompt.git
[submodule "bash/bashmarks"]
	path = bash/bashmarks
	url = git://github.com/huyng/bashmarks.git
