[include]  # requires git >= 1.7.10
    path = ~/.gitaliases

[user]
	name = Mike White
    email = m@mwhite.info

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
	pager = less -x1,5

[status]
    relativePaths = false

[merge]
    tool = vimdiff

[github]
	user = mwhite
